// =============================================================================
// Highlights light
// =============================================================================

// Inline highlighting

code.highlighter-rouge {
  padding: 2px 4px;
  font-size: 14px;
  color: #d14;
  background: lighten($gray-lightest, 6);
  border: 1px solid $base-border-color;
  border-radius: 1px;
}

@each $hightlights in 'div.highlight', 'figure.highlight' {

  #{$hightlights} {
    padding: 25px;
    margin: 0;
    margin: 30px 0;
    overflow: auto;
    font-weight: 400;
    background: lighten($gray-lightest, 6);
    border-radius: $base-border-radius;
    pre {
      margin: 0;
    }
  }

  // Responsive
  // =============================================================================

  @include breakpoint(small) {
    #{$hightlights} {
      padding: 25px;
      font-size: 14px;
    }
  }

  // Highlighting types
  // =============================================================================

  // Comment

  #{$hightlights} .c {
    font-style: italic;
    color: #998;
  }

  // Error

  #{$hightlights} .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  // Keyword

  .highlight .k {
    font-weight: bold;
  }

  // Operator

  #{$hightlights} .o {
    font-weight: bold;
  }

  // Comment.Multiline

  #{$hightlights} .cm {
    font-style: italic;
    color: #998;
  }

  // Comment.Single

  .highlight .cp {
    font-weight: bold;
    color: #999;
  }

  // Comment.Single

  #{$hightlights} .c1 {
    font-style: italic;
    color: #998;
  }

  // Comment.Special

  #{$hightlights} .cs {
    font-style: italic;
    font-weight: bold;
    color: #999;
  }

  // Generic.Deleted

  #{$hightlights} .gd {
    color: #000;
    background-color: #fdd;
  }

  // Generic.Deleted.Specific

  #{$hightlights} .gd .x {
    color: #000;
    background-color: #faa;
  }

  // Generic.Emph

  #{$hightlights} .ge {
    font-style: italic;
  }

  // Generic.Error

  #{$hightlights} .gr {
    color: #a00;
  }

  // Generic.Heading

  #{$hightlights} .gh {
    color: #999;
  }

  // Generic.Inserted

  #{$hightlights} .gi {
    color: #000;
    background-color: #dfd;
  }

  // Generic.Inserted.Specific

  #{$hightlights} .gi .x {
    color: #000;
    background-color: #afa;
  }

  // Generic.Output

  #{$hightlights} .go {
    color: #888;
  }

  // Generic.Prompt

  #{$hightlights} .gp {
    color: #555;
  }

  // Generic.Strong

  #{$hightlights} .gs {
    font-weight: bold;
  }

  // Generic.Subheading

  #{$hightlights} .gu {
    color: #aaa;
  }

  // Generic.Traceback

  #{$hightlights} .gt {
    color: #a00;
  }

  // Keyword.Constant

  #{$hightlights} .kc {
    font-weight: bold;
  }

  // Keyword.Declaration

  #{$hightlights} .kd {
    font-weight: bold;
  }

  // Keyword.Pseudo

  #{$hightlights} .kp {
    font-weight: bold;
  }

  // Keyword.Reserved

  #{$hightlights} .kr {
    font-weight: bold;
  }

  // Keyword.Type

  #{$hightlights} .kt {
    font-weight: bold;
    color: #458;
  }

  // Literal.Number

  #{$hightlights} .m {
    color: #099;
  }

  // Literal.String

  #{$hightlights} .s {
    color: #d14;
  }

  // Name.Attribute

  #{$hightlights} .na {
    color: #008080;
  }

  // Name.Builtin

  #{$hightlights} .nb {
    color: #0086b3;
  }

  // Name.Class

  #{$hightlights} .nc {
    font-weight: bold;
    color: #458;
  }

  // Name.Constant

  #{$hightlights} .no {
    color: #008080;
  }

  // Name.Entity

  #{$hightlights} .ni {
    color: #800080;
  }

  // Name.Exception

  #{$hightlights} .ne {
    font-weight: bold;
    color: #900;
  }

  // Name.Function

  #{$hightlights} .nf {
    font-weight: bold;
    color: #900;
  }

  // Name.Namespace

  #{$hightlights} .nn {
    color: #555;
  }

  // Name.Tag

  #{$hightlights} .nt {
    color: #000080;
  }

  // Name.Variable

  #{$hightlights} .nv {
    color: #008080;
  }

  // Operator.Word

  #{$hightlights} .ow {
    font-weight: bold;
  }

  // Text.Whitespace

  #{$hightlights} .w {
    color: #bbb;
  }

  // Literal.Number.Float

  #{$hightlights} .mf {
    color: #099;
  }

  // Literal.Number.Hex

  #{$hightlights} .mh {
    color: #099;
  }

  // Literal.Number.Integer

  #{$hightlights} .mi {
    color: #099;
  }

  // Literal.Number.Oct

  #{$hightlights} .mo {
    color: #099;
  }

  // Literal.String.Backtick

  #{$hightlights} .sb {
    color: #d14;
  }

  // Literal.String.Char

  #{$hightlights} .sc {
    color: #d14;
  }

  // Literal.String.Doc

  #{$hightlights} .sd {
    color: #d14;
  }

  // Literal.String.Double

  #{$hightlights} .s2 {
    color: #d14;
  }

  // Literal.String.Escape

  #{$hightlights} .se {
    color: #d14;
  }

  // Literal.String.Heredoc

  #{$hightlights} .sh {
    color: #d14;
  }

  // Literal.String.Interpol

  #{$hightlights} .si {
    color: #d14;
  }

  // Literal.String.Other

  #{$hightlights} .sx {
    color: #d14;
  }

  // Literal.String.Regex

  #{$hightlights} .sr {
    color: #009926;
  }

  // Literal.String.Single

  #{$hightlights} .s1 {
    color: #d14;
  }

  // Literal.String.Symbol

  #{$hightlights} .ss {
    color: #990073;
  }

  // Name.Builtin.Pseudo

  #{$hightlights} .bp {
    color: #999;
  }

  // Name.Variable.Class

  #{$hightlights} .vc {
    color: #008080;
  }

  // Name.Variable.Global

  #{$hightlights} .vg {
    color: #008080;
  }

  // Name.Variable.Instance

  #{$hightlights} .vi {
    color: #008080;
  }

  // Literal.Number.Integer.Long

  #{$hightlights} .il {
    color: #099;
  }

}
